@import "../common/head/head"
$contentTitleFontSize: 3rem 
$contentTitleTopDistance : 1rem
$contentArticleFontSize : 2rem
.content
    text-align: center
    background-color: yellow
    border-bottom: $titleBorder
    .contentTitle
        margin: 0em 0em 0em 0em
        padding-top: $contentTitleTopDistance 
        font-size: $contentTitleFontSize
    .contentArticle
        font-size: $contentArticleFontSize
        margin: 0.5em 0.5em
.plusIcon
    width: 60px
    float: right

.plusIcon:hover
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5)